<div class="container">
  <h1>Inscription</h1>

  <div class="form-wrapper">
    <form [formGroup]="inscriptionForm" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="username" class="form-label">Nom d'utilisateur</label>
        <input type="text" id="username" name="username" formControlName="username" class="form-control" required>
        <div class="invalid-feedback">
          Veuillez fournir un nom d'utilisateur.
        </div>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Mot de passe</label>
        <input type="password" id="password" name="password" formControlName="password" class="form-control" required>
        <div class="invalid-feedback">
          Veuillez fournir un mot de passe.
        </div>
      </div>

      <div class="mb-3">
        <label for="role" class="form-label">Rôle</label>
        <select id="role" name="role" formControlName="role" class="form-control" required>
          <option value="" disabled selected>Choisissez un rôle</option>
          <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
        </select>
        <div class="invalid-feedback">
          Veuillez choisir un rôle.
        </div>
      </div>

      <button type="submit" class="btn btn-styles">S'inscrire</button>

      <div class="error-message">{{ errorMessage }}</div>
    </form>
  </div>
</div>
