.container {
  width: 500px;
}

table {
  color: wheat;
}

.profil {
  color: wheat;
}

.profil:hover {
  color: darkmagenta;
  cursor: pointer;
}

.addDelete:hover {
  color: darkcyan;
  cursor: pointer;
}